fastapi
uvicorn[standard]
python-multipart
requests
beautifulsoup4
selenium
webdriver-manager
pypdf
python-docx
pandas
openpyxl
faiss-cpu
sentence-transformers
numpy
pymysql
bcrypt
PyJWT
email-validator
python-dotenv
twilio
python-pptx
PyPDF2
python-docx
lxml

